{% extends 'base.html' %} {% block content %}

<div class="jumbotron">
  <h1>{{ playlist.name }}!</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
</div>

<div class="jumbotron">
  <ol>
    {% for song in songs %}
    <li>{{song.name}}</li>
    <ul>
      <li class="nav-link pr-3 text-muted">&ndash;By {{song.description}}</li>
    </ul>
    {% endfor %}
  </ol>
</div>

<p>
  <a class="btn btn-primary" href="/playlists/{{ playlist.id }}/add-song">
    Add Song To Playlist
  </a>
</p>

{% endblock %}
